@import "tailwindcss";

@theme {
  --color-neon-green: #39ff14;
  --color-neon-red: #ff073a;
  --color-neon-blue: #00f0ff;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}
